@import "variables.styl"

default =
	text-align left
	white-space pre
	word-spacing normal
	word-break normal
	word-wrap normal
	hyphens none
	color inherit
	text-shadow none
	font-size 0.9em
	line-height 1.3em
	padding 0

	-moz-tab-size 4
	-o-tab-size 4
	tab-size 4

	-webkit-hyphens none
	-moz-hyphens none
	-ms-hyphens none
	hyphens none

selection =
	color #fff
	background: #f05e23;

codePre = 'code, pre'
selectionSelectors = '&::-moz-selection, & ::-moz-selection, &::selection, & ::selection'
{codePre}
	&[class*="language-"]
		{default}
		+above(600px)
			white-space pre-wrap
		{selectionSelectors}
			{selection}

pre
	&[class*="language-"]
		background-color black
		border-radius 5px
		color foreground
		margin 1em 0
		overflow auto
		padding 0.75em 0.75em
		white-space pre-wrap
		position relative
		border 1px dashed white
		+above(600px)
			box-shadow 8px 8px 0 darken(@background-color, 20%)
			padding 1.25em 1.25em

	& > code
		&[class*="language-"]
			background none

code
	font-size calc(1em - 2px)
	background-color black
	color shade(foreground, 10%)
	padding 0.2em 0.4em
	border-radius 2px
	white-space nowrap

.token.comment,
.token.prolog,
.token.cdata
	color grey

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule,
.token.property,
.token.constant,
.token.variable
	color red-bright

.token.operator,
.token.punctuation,
.token.attr-name,
.token.attr-value,
.token.attr-value .punctuation
	color white

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin
.token.function
	color yellow-bright

.token.entity,
.token.number,
.token.symbol
	color magenta-bright

.token.string,
.token.char
	color green-bright

.token.url
	color green-bright
	text-decoration underline

.token.regex
	background green-bright

.token.inserted
	background white

.token.deleted
	background red-bright

.token.bold
	font-weight bold

.token.italic
	font-style italic
